<% provide(:title, 'About Us') %>
    <div class="center hero-unit">
    <h1>About Us</h1>
<br>
    <h2>
      The <a href="http://jsschool.org/">JS School</a>
      is a project to make a screencasts to teach JS development. This
      is the sample application for the tutorial.
    </h2>
    </div>