<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
        <ul>
      <li><a href="home">Home</a></li>
      <li><a href="help">Help</a></li>
    </ul>
    <p>
      The <a href="http://jsschool.org/">JS School</a>
      is a project to make a screencasts to teach JS development. This
      is the sample application for the tutorial.
    </p>