<% provide(:title, 'Help') %>
    <h1>Help</h1>
<ul>
      <li><a href="home">Home</a></li>
      <li><a href="about">About Us</a></li>
</ul>
    <p>
      Get help on the your JavaScript affairs at
      <a href="http://jsschool.org">JS School</a>.
      Also to get help mail on
      <a href="mailto:skippednote@gmail.com?Subject=Hello%20Need%20Help">Bassam Ismail</a>.
    </p>