<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to JSSCHOOL</h1>
<br>
    <h2>
      This is the home page for the
      <a href="http://jsschool.org/">JSSchool</a>
      sample application.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
