    <footer class="footer">
  <small>
  Sample App by <a href="http://twitter.com/alvimurtaza" target="_blank">Alvi Murtaza</a><br>
    <a href="http://jsschool.org/" target="_blank">JSSchool</a>
    by <a href="http://twitter.com/skippednote" target="_blank">Bassam Ismail</a>

  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>